@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* -------------------Typography------------------------ */

.p_0 {
  @apply text-[20px] font-[500];
}

.p_1 {
  @apply text-[16px] font-[500];
}

.p_2 {
  @apply text-[14px];
}

.p_3 {
  @apply text-[12px];
}

.p_4 {
  @apply text-[10px];
}

.h1_primary {
  @apply text-[50px];
}

.h1_secondary {
  @apply text-[40px];
}

.h1_tertiary {
  @apply text-[30px];
}

.border_curve {
  @apply rounded-[5px];
}

.border_primary {
  @apply border border-black border_curve;
}

.button_primary {
  @apply border_primary p-2 duration-150 hover:scale-110 hover:text-white hover:bg-black;
}

.img_icon_size {
  @apply w-[25px];
}

.img_logo_size {
  @apply w-[150px];
}

.make_between {
  @apply flex justify-between items-center;
}

.make_start {
  @apply flex justify-start items-center;
}

.make_center {
  @apply flex justify-center items-center;
}
.make_row_evenly {
  @apply flex flex-col justify-evenly items-center;
}

.make_row_between {
  @apply flex flex-col justify-evenly items-center;
}

.make_row_around {
  @apply flex flex-col justify-around items-center;
}

.make_row_between_start {
  @apply flex flex-col justify-between items-start;
}

.make_even {
  @apply flex justify-evenly items-center;
}

.make_around {
  @apply flex justify-around items-center;
}
